@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,400&display=swap');

body{
  font-family:  Trojan Pro;
}

.zone {
    color:#FFF;
    font-size:2em;
    border-radius:4px;
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.main-nav {
    /* creates a */
    display: flex;
    list-style: none;
    margin: 0;
    font-size: 0.7em;
}

a:hover {
    color: #686de0;
}


li {
    padding: 20px;
}

a {
    color: #f5f5f6;
    text-decoration: none;
}

.logo-img{
  float: right;
  position: relative;
  margin: 10px 15px 15px 10px;
}

.sticky {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}

.container {
    /* vh = view height. We do this to make sure banner fills entire view */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-wrapper {
    text-align: center;
}

button {
    cursor: pointer;
    background: gray;
    border: 0;
    font-size: 1rem;
    color: white;
    padding: 10px;
    width: 200px;
}

button:hover {
    background-color: #84888B;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: #A5ACB0;
}

footer p {
    font-size: 1rem;
}

/*=========================================*/

.blue {
    background: #0A2240;
}

.grey{
    background: #D3D3D3;
}

* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}


.board {
    width: min-content;
    margin: 32px auto 0;
    border: 10px solid white;
    border-radius: 3px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.square {
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.piece {
    width: 50px;
    height: 50px;
}

.black {
    background: #000000;
}

.white {
    background: #ffffff;
}

.light_grey{
  background:  #E5E4E2;
}

.dark_grey{
  background:  #71797E;
}

#pawn-promotion-option {
    width: 480px;
    height: 480px;
    line-height: 480px;
    position: absolute;
    background: transparent;
    text-align: center;
    font-size: 90px;
    cursor: default;
    z-index: 10;
}

#pawn-promotion-option .option {
    cursor: pointer;
}

/*========================================*/
