
body{
  margin: 0 auto ;
  font-family:  Trojan Pro;
}

.zone {
    color:#FFF;
    font-size:2em;
    border-radius:4px;
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.main-nav {
    /* creates a */
    display: flex;
    list-style: none;
    margin: 0;
    font-size: 0.7em;
}

a:hover {
    color: #686de0;
}
@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}


li {
    padding: 20px;
}

a {
    color: #f5f5f6;
    text-decoration: none;
}

.logo-img{
  float: right;
  position: relative;
  margin: 10px 15px 15px 10px;
}

.sticky {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}

.container {
    /* vh = view height. We do this to make sure banner fills entire view */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cover {
    width:100%;
    height:100%;
}
.coverText {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
}

.coverText > h1 {
    color: white;
    font-size: 40px;
}


.grid-wrapper {
    text-align: center;
}

.card {
    height:  300px;
    width:  300px;
    margin:  0 7.5px;
    background-color: #444;
    display: inline-flex;
    justify-content: center;

}
.card > img {
    max-width: 100%;
    height: auto;
}
.card h1 {
    font-size: 1.5rem;
}
.card p {
    font-size: 1rem;
}
.card > .text {
    padding: 0 20px 20px;
}

button {
    cursor: pointer;
    background: gray;
    border: 0;
    font-size: 1rem;
    color: white;
    padding: 10px;
    width: 200px;
}

button:hover {
    background-color: #84888B;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: #A5ACB0;
}

footer p {
    font-size: 1rem;
}

/*=========================================*/

.blue {
    background: #0A2240;
}

.grey{
    background: #D3D3D3;
}


.board {
    width: min-content;
    margin: 32px auto 0;
    border: 10px solid white;
    border-radius: 3px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.square {
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.graveyard1 {
    float:  left;
    width: min-content;
    margin: 32px auto 0;
    border: 5px solid white;
    border-radius: 2px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.graveyardimg{
    display: inline-block;
    vertical-align: middle;
}

.graveyard2 {
    float: right;
    width: min-content;
    margin: 32px auto 0;
    border: 5px solid white;
    border-radius: 2px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rectangle {
    width: 100px;
    height: 400px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.piece {
    width: 50px;
    height: 50px;
}

.black {
    background: #000000;
}

.white {
    background: #ffffff;
}

.light_grey{
  background:  #E5E4E2;
}

.dark_grey{
  background:  #71797E;
}
#player_nav{
    display:  inline-block;
    cursor:  default;
    float: center;
    width: 200px;
    text-align: left;
    margin-top: 5px;
}
#player{
    float:  center;
    font-size: 32px;
    color: #000;
}
#player{
    float:  center;
    font-size: 32px;
    color: #000;
}
#score_nav{
    display:  block;
    cursor:  default;
    float: left;
    width: 200px;
    text-align: left;
    margin-top: 5px;
    margin-right: 20px;
}
#score1{
    float:  left;
    font-size: 32px;
    color: #000;
}
#score3{
    float:  left;
    font-size: 32px;
    color: #000;
}
#score2{
    float:  right;
    margin-right: 40px;
    font-size: 32px;
    color: #000;
}
#score4{
    float:  right;
    margin-right: 40px;
    font-size: 32px;
    color: #000;
}

/*========================================*/
.dropbtn {
  background-color: #7393B3;
  color: white;
  padding: 32px;
  font-size: 50px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
/*========================================*/

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-header {
  padding: 2px 10px;
  background-color: #0A2240;
  color: white;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}